@media (max-width:1300px) {
    .contianer {

        header,
        main {
            padding: 0 10px;
        }
    }
}

@media (max-width:900px) {
    .contianer {

        header {
            .header-links {
                .header-btn2 {
                    display: none;
                }
            }
        }

        main {
            .section1 {
                margin-top: 10px;

                .work {
                    h1 {
                        font-size: 30px;

                    }

                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .contianer {
        header {
            .header-links {

                button,
                img {
                    display: none;
                }
            }
        }

        main {
            .section1 {
                .work {
                    width: 100%;
                    align-items: center;
                    margin-top: 30px;

                }

                img {
                    display: none;
                }
            }
        }
    }

}

@media (max-width:570px) {
    .contianer {
        header {
            .logo {

                img,
                h1 {
                    display: none;
                }

                i {
                    display: block;
                    font-size: 40px;
                }
            }

            .header-links {
                ul {
                    display: none;
                }

                button {
                    display: block;
                }
            }
        }

        main {
            .section1 {
                .work {
                    .get-started-btns {
                        button,a {
                            width: 130px;
                            font-size: 13px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

}